@font-face{
    font-family: 'Merc';
    src        : url('../fonts/Merc.otf')
}

body{
background: #f8f8f8;
}

.container{
    width : 1000px;
    margin: 0 auto;
}

.header{
    display   : block;
    height    : 150px;
    position  : relative;
    background: url(../images/headerPicture.png);
}

.header img{
margin: 0px 0px 0px 20px;
}

.shopName{
    position : absolute;
    left     : 200px;
    top      : 50px;
    color    : rgb(27, 177, 223);
    font-size: 25px;

}

.menuMarkers{
    text-align: right;
    float     : right;
    margin    : 0px 0px;
}

.menuMarkers li{
    display: inline-block;
    padding: 10px;
} 

.menuLink{
    color      : rgba(35, 134, 35, 0.877);
    font-size  : 20px;
    font-family: Merc, sans-serif;
    
}

.menuLink:hover{
    color: rgb(231, 103, 17);
}

.footer{
    background: white;
    height    : 150px;
    text-align: right;
    padding   : 20px 20px 0px 0px;
}

.descriptionCat{
    width      : 678px;
    float      : left;
    margin-left: 20px;
}

.imageCat{
    float: left;
}
.imageDog{
    float: left;
}

.headerCat, .dogHeader{
    color      : black;
    font-size  : 18px;
    font-weight: 400;
    background : #eaeaea;
    clear      : both;
}

.briefDescription{
    color      : #707070;
    font-size  : 14px;
    font-style : italic;
    line-height: 16px;

}
.fullDescription{
    color      : #484343;
    font-size  : 16px;
    font-weight: 400;
    line-height: 24px;
    text-align : left;
}
img[alt="Logo1"]{
    border: 10px double rgba(35, 134, 35, 0.877);
}
.catList{
    list-style: url(../images/catList.png);
    color     : rgb(40, 117, 131);
    font-style: italic
}
.dogList{
    list-style: url(../images/dogList.png);
    color     : rgb(59, 99, 59);
    font-style: italic;
} 


input#userName, input#userEmail, input#userOrder, #userQuestion{
    background    : rgb(65, 64, 64);
    color         : #e8e8e8;
    font-size     : 17px;
    border        : none;
    outline       : none;
    text-transform: capitalize;
    box-shadow    : 0 0 10px yellow;
}
#userName{
    margin-left: 138px;
    width      : 193px;
    height     : 30px;
}
#userEmail{
    margin-left: 129px;
    margin-top : 5px;
    width      : 193px;
    height     : 30px;
}
#userOrder{
    margin-left: 55px;
    margin-top : 5px;
    width      : 193px;
    height     : 30px;
}
select option{
    background: rgb(65, 64, 64);
    color     : #f8f8f8;
}
#userCity{
    margin-left: 30px;
    margin-top : 5px;
    width      : 200px;
    height     : 30px;
}
#userTheme{
    margin-left: 173px;
    margin-top : 5px;
    width      : 200px;
    height     : 30px;
}
label{
    font-size: 17px;
}
.button{
    margin-top   : 10px;
    width        : 100px;
    height       : 30px;
    background   : rgb(177, 136, 136);
    color        : #221a1a;
    cursor       : pointer;
    border-radius: 5px;
    box-shadow   : 0 0 5px yellow;
}
#userName:focus, #userEmail:focus, #userOrder:focus, #userQuestion:focus{
    background: rgb(208, 230, 11);
    color     : blue;
}
#userCity:focus, #userTheme:focus{
    background: rgb(208, 230, 11);
    color     : blue;
}
img[alt="Logo1"]:hover{
    border-color: transparent;
}
.briefDescription:first-letter, .fullDescription::first-letter{
    color      : rgb(207, 89, 10) ;
    font-size  : 50px;
    font-family: Merc, sans-serif;
}
.diet{
    width          : 100%;
    text-align     : center;
    background     : rgba(144, 210, 230, 0.842);
    font-size      : 20px;
    color          : rgb(161, 56, 24);
    border-collapse: collapse;
}
.diet th{
    background: rgb(217, 255, 0);
    color     : blue;
    font-size : 30px;
    height    : 60px;
}
.diet td, th{
    border: 2px solid rgb(153, 0, 255);
}

.catalogCatsProducts .catalogDogsProducts{
    width   : 1000px;
    overflow: hidden;            /* без этого свойста контейнер не хотел расширяться в высоту */
    margin  : 20px auto 0 auto;
}

.productUnitCat {
    width       : 180px;
    height      : 340px;
    border      : 2px dotted rgb(88, 44, 3);
    float       : left;
    margin-right: 6%;
    margin-top  : 20px;
}

.productUnitCat:nth-child(-n+4){
    margin-top: 0;
}
.productUnitCat:nth-child(4){
    margin-right: 0;
}

.forDog{
    clear: both;}

    .productUnitDog {
        width        : 180px;
        height       : 340px;
        border       : 2px dotted rgb(88, 44, 3);
        float        : left;
        margin-right : 6%;
        margin-top   : 20px;
        margin-bottom: 5px;
    }
    

        /* пришлось сделать hr, как блок, чтобы он не улетал на товары вверх*/
#hrclear{ 
    display: block;
    clear  : both;
}

.buyProduct{
    float          : right;
    margin-top     : 10px;
    width          : 100px;
    height         : 30px;
    background     : rgb(177, 136, 136);
    color          : #221a1a;
    cursor         : pointer;
    border-radius  : 5px;
    box-shadow     : 0 0 5px yellow;
    text-align     : center;
    text-decoration: none;
    font-family    : Merc, sans-serif;
}

.buyProduct:hover{
    background: rgb(110, 84, 84);
}
.buyProduct:active{
    background: rgb(16, 95, 214);
}